.Title{
    background-color: rgb(36, 124, 224);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 10px;
}
.Title a{
    transition: 0.25s;
    -webkit-transition: 0.25s;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    
    text-decoration: solid;
    color: rgb(255, 255, 255);
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.479));
}
.Title :hover{
    transition: 0.25s;
    -webkit-transition: 0.25s;

    filter: drop-shadow(0px 0px 2px rgb(255, 255, 255));
}

.Version{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    color: rgb(32, 32, 32);
    padding: 10px;
    border: 10px;
    border-style: groove;
    margin: 15px;
    cursor: help;
}
body {
    background-color: rgb(236, 236, 236);
    margin: 0%;
    min-width: 500px;
    min-height: 500px;
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
    height: 12px;
}
body::-webkit-scrollbar-track {
    background: rgb(116, 116, 116);        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
    background-color: rgb(201, 201, 201);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(104, 104, 104);  /* creates padding around scroll thumb */
}

embed{
    block-size: auto;
}

.Menu a{
    transition: 0.25s;
    -webkit-transition: 0.25s;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    list-style: none;

    text-decoration: solid;
    color: rgb(61, 61, 61);
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.479));
    display: list-item;
}
.Menu :hover{
    transition: 0.25s;
    -webkit-transition: 0.25s;
    font-size: 36px;
    background-color: azure;
    text-decoration: underline;
    list-style: square;
    list-style-position: inside;
    
    filter: drop-shadow(0px 0px 2px rgb(255, 255, 255));
    letter-spacing: 3px;
}
.Menu{
    align-content: center;
    text-align: center;
    display: list-item;
    margin: 50px;
    list-style: none;
}
.Menu .NoActive{
    src: none;
    visibility: hidden;
    height: 0px;
    color: red;
    text-decoration-line: overline;
}

.InfoBlock{
    display: block;
    padding: 50px;
    font-family: 'Courier New', Courier, monospace, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}