.Title{
    background-color: rgb(36, 124, 224);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 10px;
}
.Title a{
    transition: 0.25s;
    -webkit-transition: 0.25s;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    
    text-decoration: solid;
    color: rgb(255, 255, 255);
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.479));
}
.Title :hover{
    transition: 0.25s;
    -webkit-transition: 0.25s;

    filter: drop-shadow(0px 0px 2px rgb(255, 255, 255));
}
body {
    margin: 0%;
}